.message {
  margin-bottom: 15px;
}

.avatar {
  border-radius: 14px;
  width: fit-content;
}

.my-message {
  background-color: rgba(198, 229, 135, 0.44);
  color: #004080;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 5px;
}

.gpt-message {
  background-color: rgba(126, 140, 217, 0.29);
  color: #333;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 5px;
}