.chat-wrapper {
  align-items: center;
  padding-top: 15px;
  max-width: 600px;
  margin: 0 auto;
}

.main-input{
  position: relative;
  margin-bottom: 20px;
}

.message{
  margin-bottom: 15px;
}

.my-message {
  background-color: rgba(198, 229, 135, 0.44);
  color: #004080;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 5px;
}

.gpt-message {
  background-color: rgba(126, 140, 217, 0.29);
  color: #333;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 5px;
}

.avatar {
  border-radius: 14px;
  width: fit-content;
}

.text{
  text-align: start;
  padding: 4px;
}

.btn {
  color: aliceblue;
  background: black;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

.input{
  margin-right: 45px;
}
