.header {

}

.navigation{
  padding: 15px 0;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.link {

}